@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,900&family=Roboto+Condensed:wght@400;700&display=swap');


/* GLOBAL SETTINGS
   -----------------------------  */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	background-color: #13171c;
	font-family: 'Roboto Condensed', sans-serif;
	color: #cdcdcd;
	height: 100vh;
	font-size: 16px;
}

img {
	width: 100%;
}

.container {
	width: 90%;
	max-width: 1140px;
}

/* NAV SETTINGS
   -----------------------------  */

#nav {
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-family: 'Kanit';
	margin-bottom: 20px;
	background-color: rgba(0, 0, 0, 0.3);
}

#nav a {
	text-decoration: none;
	color: #cdcdcd;
}

#nav a:hover {
	color: #df9a11
}

.nav-wrap {
	display: flex;
	justify-content: space-between;
}

.nav-name {
	color: #df9a11;
	font-size: 2rem;
}

@media screen and (max-width: 300px) {
	.nav-name {
		font-size: 1.6rem;
	}
}

.nav-links {
	display: flex;
	font-size: 1.3rem;
}

.nav-links a {
	padding: 0 10px;
}

#mobile-nav-opener {
	display: none;
	font-size: 1.3rem;
}

@media screen and (max-width: 300px) {
	#mobile-nav-opener {
		font-size: 1.1rem;
	}
}

@media screen and (max-width: 840px) {
	.nav-links {
		display: none;
	}

	#mobile-nav-opener {
		display: inline-block;
	}
}

.mobileMenu {
	background-color: #13171c;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	position: fixed;
	top: 0;
	z-index: 10;
	width: 100vw;
	height: 100vh;

	color: #df9a11;
	font-size: 1.4rem;
	text-align: center;
}

.close {
	color: #df9a11;
	font-size: 1.6rem;
	top: 20px;
	position: absolute;
}

.mobile-nav-links {
	display: flex;
	flex-direction: column;
}

.mobile-nav-links a {
	padding: 0;
	font-family: 'Kanit';
	color: #cdcdcd;
	text-decoration: none;
	font-size: 2rem;
	padding: 5px 0;
}

/* PROJECTS SETTINGS
   -----------------------------  */

#projects-page {
    padding-bottom: 20px;
}

.projects-wrap {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.project {
	flex: 300px;
	padding: 15px;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.4);
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 10px;
}

.img-wrap {
	max-width: 100%;
}

@media screen and (max-width: 800px) {
	.project {
		flex-direction: column;
	}

	.img-wrap {
		max-width: 100%;
	}
}

.project-info {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.project-info header {
	font-size: 1.2rem;
	font-weight: 700;
}

.about {
	flex-grow: 1;
}

.btn-bar {
	width: 100%;
	justify-self: flex-end;
}

.btn {
	text-decoration: none;
	text-align: center;
	padding: 5px 0;
	border-radius: 5px;
	width: 100%;
}

.github-btn {
	color: #121212;
	background-color: #cdcdcd;
}

.github-btn:hover {
	color: #121212;
}

.project-btn {
	background-color: #df9a11;
	color: #121212;
	margin-bottom: 10px;
}


/* ABOUT SETTINGS
   -----------------------------  */
