@import url('./fonts/stylesheet.css');

:root {
	--main-background: #13171c;
	--main-body-text: #cdcdcd;
	--primary-accent: #df9a11;
}

/* GLOBAL SETTINGS
   -----------------------------  */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	background-color: var(--main-background);
	font-family: 'Roboto Condensed', sans-serif;
	color: var(--main-body-text);
	height: 100vh;
	font-size: 16px;
}

header {
	font-size: 1.8rem;
	font-weight: 700;
	border-bottom: 1px solid var(--primary-accent);
	margin-bottom: 10px;
}

img { width: 100%; }

.container {
	width: 90%;
	max-width: 1140px;
}

/* NAV SETTINGS
   -----------------------------  */

#nav {
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-family: 'Kanit';
	margin-bottom: 20px;
	background-color: rgba(0, 0, 0, 0.3);
}

#nav a {
	text-decoration: none;
	color: var(--main-body-text);
}

#nav a:hover { color: var(--primary-accent); }

.nav-wrap {
	display: flex;
	justify-content: space-between;
}

.nav-name {
	color: var(--primary-accent);
	font-size: 2rem;
}

@media screen and (max-width: 300px) {
	.nav-name { font-size: 1.6rem; }
}

.nav-links {
	display: flex;
	font-size: 1.3rem;
}

.nav-links a { padding: 0 10px; }

#mobile-nav-opener {
	display: none;
	font-size: 1.3rem;
}

@media screen and (max-width: 300px) {
	#mobile-nav-opener { font-size: 1.1rem;	}
}

@media screen and (max-width: 840px) {
	.nav-links { display: none;	}

	#mobile-nav-opener { display: inline-block;	}
}

.mobileMenu {
	background-color: #13171c;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	position: fixed;
	top: 0;
	z-index: 10;
	width: 100vw;
	height: 100vh;

	color: var(--primary-accent);
	font-size: 1.4rem;
	text-align: center;
}

.close {
	color: var(--primary-accent);
	font-size: 1.6rem;
	top: 20px;
	position: absolute;
}

.mobile-nav-links {
	display: flex;
	flex-direction: column;
}

.mobile-nav-links a {
	padding: 0;
	font-family: 'Kanit';
	color: var(--main-body-text);
	text-decoration: none;
	font-size: 2rem;
	padding: 5px 0;
}

/* PROJECTS SETTINGS
   -----------------------------  */

#projects-page { padding-bottom: 20px; }

.projects-wrap {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.project {
	flex: 300px;
	padding: 15px;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.4);
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 10px;
}

.img-wrap {	max-width: 100%; }

@media screen and (max-width: 800px) {
	.project {
		flex-direction: column;
	}

	.img-wrap {
		max-width: 100%;
	}
}

.project-info {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.project-info header {
	font-size: 1.2rem;
	font-weight: 700;
}

.about {
	flex-grow: 1;
}

.btn-bar {
	width: 100%;
	justify-self: flex-end;
}

.btn {
	text-decoration: none;
	text-align: center;
	padding: 5px 0;
	border-radius: 5px;
	width: 100%;
}

.github-btn {
	color: #121212;
	background-color: var(--main-body-text);
}

.project-btn {
	background-color: var(--primary-accent);
	color: #121212;
	margin-bottom: 10px;
}


/* ABOUT SETTINGS
  -----------------------------  */

.personal-bar {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.profile-img {
	flex: 1 0 300px;
	margin: 5px;
	border: 8px solid var(--primary-accent);
}

.profile-img img {
	width: 100%;
}

.summary {
	flex: 2 2 300px;
	padding: 0 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.summary-header {	width: 100%; }

.summary p { align-self: center; }

.social-links {	list-style-type: none; }

.social-links a {
	text-decoration: none;
	color: var(--main-body-text);
	font-size: 1.2rem;
}

.social-links a:hover {	color: var(--primary-accent); }


/* SKILLS SETTINGS
  -----------------------------  */

#skills {	margin-top: 20px; }

#skills header {
	font-size: 1.8rem;
	font-weight: 700;
	border-bottom: 1px solid var(--primary-accent);
	margin-bottom: 10px;
}

.dev-skills {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	font-size: 1.1rem;
	gap: 10px;
	margin-bottom: 20px;
}

.skill {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.4);
	flex: 1 1 200px;
	padding: 10px;
}

.skill i { font-size: 2rem; }

/* CAREER SETTINGS
  -----------------------------  */

#careeer {
	margin-bottom: 20px;
}

header {
	font-size: 1.8rem;
	font-weight: 700;
	border-bottom: 1px solid var(--primary-accent);
	margin-bottom: 10px;
}

.job-title { font-weight: bold; }

/* Education SETTINGS
  -----------------------------  */

#education { padding-bottom: 20px; }

.training { font-weight: bold; }